:root {
    --main-font: 'Roboto', sans-serif ;
    --secondary-font: 'Raleway', sans-serif;
    --main-font-color: rgba(117, 117, 117, 1);
    --title-font: rgba(33, 33, 33, 1);
    --background-header: rgba(255, 255, 255, 1);
    --background-team: rgba(245, 244, 250, 1);
    --background-footer: rgba(47, 48, 58, 1);
    --button-link-color: rgba(33, 150, 243, 1);
    --button-link-hover: rgba(24, 140, 232, 1);
    --footer-contacts: rgba(255, 255, 255, 0.6);
    --icons-color: rgba(175, 177, 184, 1);
    --сubic: cubic-bezier(0.4, 0, 0.2, 1);
   
}

/*body*/

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


body {   
    font-family: var(--main-font);   
    color: var(--main-font-color);
    background-color: var(--background-header);
    }

ul {
    padding-inline-start: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}



.container {  
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    }


h1,h2,h3 {
   
    margin-top: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}

.photo {
    display: block;
}

.list {
    list-style: none;
}

.button {
    border-radius: 4px;   
    border: 0;
    cursor: pointer;
    font-size: 16px;

    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: var(--сubic);   
}

.communication {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;    
}

/*Logo*/

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 0.72;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.web {
    display: inline-block;
    width: 60px;
    height: 31px;   
    font-family: var(--secondary-font);
    color: var(--button-link-color);    
   }

.studio {
    display: inline-block;
    width: 85px;
    height: 31px;
    margin: 0;    
 }



/*Header*/


.header {       
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    border-bottom: 1px solid rgba(236, 236, 236, 1);
    background-color: var(--background-header);
    }  

.container__header {
    display: flex;
    align-items: center;
}


.nav {
    display: flex;
    align-items: center;
}

.logo__nav {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;   
   }
   
.studio__nav {
    color: var(--title-font);
}


.nav__list {
    display: flex;
    padding: 0;
    margin: 0;
  }

.nav__item {
    padding: 0;
    margin-right: 50px;
   
}

.nav-list .nav-list-item:last-child {
    margin-right: 0;
}


.nav__link {
    display: block;
    padding: 32px 0;
  
    color: var(--title-font);
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--сubic);
}

.nav__link:hover,
.nav__link:focus {
    color: var(--button-link-color);
   
}

.link-current {
    position: relative;
    display: block;
    padding: 32px 0 28px 0;

    color: var(--button-link-color);
    letter-spacing: 0.02em;
    text-decoration: none;
}

.link-current::after {
    position: absolute;
    top: 100%;
    right: 0;  
  
    content: "";
    width: 100%;
    height: 4px;

   background-color: var(--button-link-color);
}


.contacts {
    display: flex;
    padding: 0;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;   
    align-items: center;
    justify-content: center;
    }

.contacts__item {
    margin-right: 50px;     
}

.contacts .contacts-item:last-child {
    margin-right: 0;
}


.contacts__mail {
    display: flex;
    align-items: center;

    height: 16px;
    color: var(--main-font-color);
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--сubic);
}


.contacts__tel {
    display: flex;
    align-items: center;

    color: var(--main-font-color);
    letter-spacing: 0.02em;
    text-decoration: none;
    height: 16px;
    
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--сubic);
}

.contacts__mail:hover,
.contacts__mail:focus {
    color: var(--button-link-color);
}

.contacts__tel:hover,
.contacts__tel:focus {
    color: var(--button-link-color);
}

.contacts-icon {
    margin-right: 10px;
    fill: currentColor;
}

/*Hero*/
.hero { 
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--background-footer);
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img.background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.hero__title {  
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--background-header);
}

.hero__button {
    display: inline-block;
    padding: 10px 32px;
    min-width: 201px;    

    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
  
    background-color: var(--button-link-color);
    color: var(--background-header);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 
}

.hero__button:hover,
.hero__button:focus {
    background-color: var(--button-link-hover);
}


/*Peculiarities*/

.peculiarities{
   padding-top: 94px;
   padding-bottom: 94px;
}

.peculiarities__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--title-font);
}

.peculiarities__list {
    display: flex;   
    padding: 0;
    margin: 0;
}

.peculiarities__item {
    width: 270px;
    margin-right: 30px;
}

.peculiarities__list .peculiarities__item:last-child {
    margin-right: 0;
}

.peculiarities__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: rgba(245, 244, 250, 1);
    margin-bottom: 30px;
    color: var(--title-font);
}

.peculiarities__text {
    display: inline-block;   
    margin: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-font-color);
}

/*Services*/

.services { 
    padding-top: 0px;
    padding-bottom: 94px;
    margin: 0 auto;
    text-align: center;   
}

.services__title {   
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-font);       
}

.services__list {
    display: flex;
    padding: 0;
    margin-block-start:0;
    margin-block-end:0;
    padding-inline-start:0;
}

.services__item {
    position: relative;
    width: 370px;
    margin-right: 30px;   
}

.services__describe {   
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: var(--background-header); 
    background-color: rgba(47, 48, 58, 0.8);      
}

.services__list .services__item:last-child {
margin-right: 0;
}


/*Our team*/

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--background-team);
    text-align: center;
 }

.team__title { 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-font);    
}

.team__list {
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;  
    margin-right: 0;  
    text-align: center;
}

.team__item {
    margin-right: 30px;
    width: 270px;    
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 0 0 4px 4px; 
}
  

.team__list .team__item:last-child {
    margin-right: 0;
}


.card {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--background-header);   
    border-radius: 0 0 4px 4px;
}

.card__title {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10px;
    width: 264px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-font);
    text-align: center;       
}


.card__text {
    margin-top: 0;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-font-color);    
}



.communication__item {
    margin-right: 10px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
}

.communication__item:last-child{
    margin-right: 0;
}


.communication__link  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
    border-radius: 50%;    
    transition-property: color, background;
    transition-duration: 250ms;
    transition-timing-function: var(--сubic);
}

.team-communication__link {
    color: var(--icons-color);    
    background-color: var(--background-header);
}

.team-communication__link:hover,
.team-communication__link:focus {
    color: var(--background-header);
    background-color: var(--button-link-color);
}

.communication__icon {
    fill: currentColor;
 }


/*Clients*/


.clients {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}

.clients__title {
    font-size: 36px;     
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-font);
    margin-bottom: 50px;   
}
   

.clients__list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;        
}

.clients__item {
    margin-right: 30px;
    width: 170px;
    height: 92px;       
    border-color: var(--icons-color);
    border-radius: 4px;        
}

.clients__item:nth-child(6) {
    margin-right: 0;
    }

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--icons-color);
    border: solid 1px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--сubic);
}

.clients__link:hover,
.clients__link:focus {
        color: var(--button-link-color);
}

.clients__icon {
        fill: currentColor;
}


/*Footer*/

.footer {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--background-footer);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer__container {
     display: flex;
    align-items: baseline;
}

.container__address {
       display: block;
}

.logo__address {
    display: inline-block;
    width: 145px;  
    padding: 0;
    margin-bottom: 20px;
}   

.address__studio {
color: var(--background-header);
}

.address {  
    font-style: normal;
    color: var(--background-header);    
}

.address__direction {
    display: inline-block;
    width: 231px;
    height: 21px;
    margin-top: 0;
    margin-bottom: 9px;
}
    
.address__list {
    padding-left: 0;
    margin-top: 0%;
    margin-bottom: 0%;
    list-style: none;
}

.address__item {
    margin-top: 0;
    margin-bottom: 9px;
}

.address__list .address__item:last-child {
    margin-bottom: 0;
}


.address__contact {
    display: block;
    padding: 0;
    width: 231px;
    height: 21px;       
        
    text-decoration: none;
    color: var(--footer-contacts);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--сubic);
}    

.address__contact:hover,
.address__contact:focus {
    color: var(--button-link-color);
}

.connect {       
    margin-left: 70px;
}

.connect__title {
    display: block;
    color: var(--background-header);
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}


.communication__link--dark {
   color: var(--background-header);
   background-color: rgba(255, 255, 255, 0.1);
}


.communication__link--dark:hover,
.communication__link--dark:focus {
   background-color: var(--button-link-color);
}

.communication__icon--dark {
    fill: currentColor;
}


    /* Форма рассылки*/

.subscribe {
    margin-left: 93px;
}

.subscribe__call {
    display: block;
    color: var(--background-header);
    line-height: 1.14;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;        
}

.subscribe__field {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: var(--background-footer);
    padding: 15px 16px;
    color: var(--footer-contacts);
    outline: transparent;
    transition-duration: 250ms;
    transition-timing-function: var(--сubic);
}

    .subscribe-field:hover,
    .subscribe-field:focus {
    border-color: var(--button-link-color);
    }


    .submit {
    position: relative;
    left: 358px;
    bottom: 50px;

    min-width: 200px;
    padding: 10px 62px 10px 29px;
    margin-left: 12px;    
   
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
  
    background-color: var(--button-link-color);
    color: var(--background-header);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }

    .submit:hover,
    .submit:focus {
    background-color: var(--button-link-hover);
}


    .submit__icon {
    position: absolute;
    top: 0;
    right: 0;        
    margin-top: 13px;   
    margin-right: 28px;     
    fill: var(--background-header);
    }



/*Portfolio*/




/*Filters*/



/*Cards*/
.portfolio {
    background-color: var(--background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    margin: 0;
}

.portfolio__item {
   min-width: 370px;
   margin-right: 30px;
   margin-bottom: 30px;     
 }


.portfolio__item:nth-child(3n) {
   margin-right: 0;
}

.portfolio__item:nth-last-child(-n+3){
    margin-bottom: 0;    
}

.portfolio__link {
    text-decoration: none;    
    display: inline-block;
    box-shadow: none;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--сubic);
}

.portfolio__link:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio__link:focus {
    color: var(--button-link-color);
}


.thumb {
    position: relative;
    overflow: hidden;  
}

.thumb__photo {
    display: block;
}

.thumb__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-font);
}

.thumb__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-font-color);
}


.portfolio__item:hover .thumb__description {
    transform: translateY(0);
}

.thumb__description {
    position: absolute;   
    left: 0;
    top: 0;   

    padding: 63px 24px;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 100%;
    height: 100%;    

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--background-header);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: var(--сubic);
}


.thumb__basis {   
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;

    border-bottom: 1px solid rgba(238, 238, 238, 1);
    border-left: 1px solid rgba(238, 238, 238, 1);
    border-right: 1px solid rgba(238, 238, 238, 1);
}


.filters__list {
    display: flex;
    justify-content: center;
    margin-block-start: 0;
    margin-block-end:0; 
    margin-bottom: 50px;  
    list-style: none;
    padding: 0;
    padding-inline-start: 0; 
}

.filters__item {
    margin-right: 8px;    
}

.filters__list .filters__item:last-child {
    margin-right: 0;
}

.filters__button {
    padding: 6px 22px;

    background-color: var(--background-team);
    color: var(--title-font);
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.03em;
    box-shadow: none;
}

.filters__button:hover,
.filters__button:focus {
    background-color: var(--button-link-color);
    color: var(--background-header);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}


/*модальное окно*/


.backdrop {
    position: fixed;
    top: 0;  
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    pointer-events: initial;
    visibility: visible;    
    transition: opacity 250ms var(--сubic);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}



.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);  
    transition: transform 250ms var(--сubic); 
       
    width: 528px;
    height: 581px;
    padding: 40px 40px 40px 41px;

    border: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: var(--background-header);  
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.4);
    transition: transform 250ms var(--сubic);
}


  .close {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 8px;
    right: 8px;

    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
   
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: var(--background-header);
    transition-duration: 250ms;
    transition-timing-function: var(--сubic);
}

.close__icon {
    position: absolute;
    transition-duration: 250ms;
    transition-timing-function: var(--сubic);
}

.close:hover .close__icon,
.close:focus .close__icon {
    fill: var(--button-link-color);
}

.application {   
    min-width: 448px;   
}

.application__title {
display: inline-block;
color: var(--title-font);
font-size: 20px;
font-weight: 700;
line-height: 1.15;
letter-spacing: 0.03em;
text-align: center;
margin-bottom: 12px;
}

.application__field {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.application__field .application__label {
    margin-bottom: 4px;
}


.application__field .application__input {
    min-width: 448px;
    margin: 0;
    
    padding: 12px 15px 12px 42px;
    border: 1px solid;
    border-color: rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: var(--сubic);
    outline: transparent;
}

.application__input:hover + .application__icon,
.application__input:focus-within + .application__icon {
    fill: var(--button-link-color);
}

.application__input:hover,
.application__input:focus-within {
    border-color: var(--button-link-color);
}

.icon-box {
    position: relative;
    margin-bottom: 10px;
    min-width: 448px;
}


.application__icon {
    position: absolute;
    left: 0;
    top: 0;

    margin-left: 12px;
    margin-top: 11px;
    margin-bottom: 11px;
 
   fill: var(--title-font);
   transition-duration: 250ms;
   transition-timing-function: var(--сubic);
}

input[type="checkbox"] {
margin-right: 8px;
}

.comment {
    padding: 12px 16px;
    margin: 0;
    margin-bottom: 20px;
    border: 1px solid;
   
    border-radius: 4px;
    resize: none;
    
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    border-color: rgba(33, 33, 33, 0.2);
    transition-duration: 250ms;
    transition-timing-function: var(--сubic);
    outline: none;
}

.comment:hover,
.comment:focus-within {
    border-color: var(--button-link-color);
}

.comment::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.agree {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-size: 14px;
}

.checkbox {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} 

.checkbox:checked + .span-box {
    background-color: var(--button-link-color);    
    background-size: contain; 
    background-origin: border-box;
    border-color: var(--button-link-color);
}

.span-box {
    display: inline-block;
    position: relative;
    border: solid 2px var(--title-font);
    border-radius: 2px;
    height: 17px;
    width: 17px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 8px;
}

.checkbox__icon {
    position: absolute;
    left: -1px;
    top: -1px;
}


.application__link {
    display: inline-block;
    margin-left: 5px;
    color: var(--button-link-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-size: 14px;
}

.application__link:hover,
.application__link:focus {
    color: var(--button-link-hover);
    transition-duration: 250ms;
    transition-timing-function: var(--сubic);
}

.send {
    display: block;   
    min-width: 200px;
    padding: 10px 55px 10px 56px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto; 
   
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
   
    background-color: var(--button-link-color);
    color: var(--background-header);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }

    .send:hover,
    .send:focus {
    background-color: var(--button-link-hover);
    }