.container__address {
    display: block;

    @media screen and(max-width: 479px) {
     text-align: center;
      }
}

.logo__address {
 display: inline-block;
//  width: 145px;  
 padding: 0;
 margin-bottom: 20px;
}   

.address__studio {
color: var(--background-header);
}

.address {  
 font-style: normal;
 color: var(--background-header);    
}

.address__direction {
 display: inline-block;
 width: 231px;
 height: 21px;
 margin-top: 0;
 margin-bottom: 9px;
} 

.address__list {
    padding-left: 0;
    margin-top: 0%;
    margin-bottom: 0%;
    list-style: none;
   }

.address__item {
    margin-top: 0;
    margin-bottom: 9px;
}

 .address__item:last-child {
    margin-bottom: 0;
}


.address__contact {
 display: block;
 padding: 0;
 width: 231px;
 height: 21px;       
     
 text-decoration: none;
 color: var(--footer-contacts);

 transition-property: color;
 transition-duration: 250ms;
 transition-timing-function: var(--—Åubic);
   

&:hover,
&:focus {
 color: var(--button-link-color);
 }
}
