.container__menu {    

    @media screen and(max-width: 767px) {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 480px;
        height: 796px;
        background-color: var(--background-header);
       
        &.is-open {
            display: block;
        }
    }  

    @media screen and(min-width: 768px) {
        display: none;
    }
}


.menu__contacts {
    padding-top: 302px;
}

.menu__item {
    padding-bottom: 32px;
    padding-left: 40px;
}



.mobile {
    display: flex;
    align-items: center;
     margin-top: 64px;
     padding-left: 40px;

     @media screen and(min-width: 768px) {
        display: none;
  }
}

.mobile__item {
   padding-right: 10px;
   padding-left: 10px;
   border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile__item:last-child {
    border: none;
    padding-right: 0;
}

.mobile__item:nth-child(1) {
    padding-left: 0;
}

.mobile__link {
 color: var(--button-link-color);
font-size: 18px;
font-weight: 500;
line-height: 1.22;
letter-spacing: 0.02em;
text-decoration: none;
}
