.contacts {
    @media screen and(min-width: 768px){
    display: flex;
    padding: 0;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;   
    align-items: center;
    justify-content: center;
 }

//  @media screen and(max-width: 767px) {
//      display: none;
//  }
}

.contacts__item {
    margin-right: 50px;   
    
    @media screen and(max-width: 767px) {
        margin-bottom: 32px;
        margin-right: 0;

    }
}

.contacts .contacts-item:last-child {
    margin-right: 0;
}


.contacts__mail {
    @media screen and(min-width: 768px){
    display: flex;
    align-items: center;
    height: 16px;
    color: var(--main-font-color);
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--сubic);   
    }

    @media screen and(max-width: 767px){
        font-size: 24px;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--main-font-color);
     
    } 
    

&:hover,
&:focus {
    color: var(--button-link-color);
 }
}



.contacts__tel {
    @media screen and(min-width: 768px){
    display: flex;
    align-items: center;
    }

    @media screen and(max-width: 767px){   
    font-size: 34px;
    font-weight: 500;
    line-height: 1.17px;
    letter-spacing: 0.02em;
    color: var(--button-link-color);
    }

    color: var(--main-font-color);
    letter-spacing: 0.02em;
    text-decoration: none;
    height: 16px;
    
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--сubic);


&:hover,
&:focus {
    color: var(--button-link-color);
 }
}

.contacts-icon {
    margin-right: 10px;
    fill: currentColor;
    @media screen and(max-width: 767px){   
    display: none;
}
}