.connect {       
    margin-left: 70px;
}

.connect__title {
    display: block;
    color: var(--background-header);
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}