.header {       
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    border-bottom: 1px solid rgba(236, 236, 236, 1);
    background-color: var(--background-header);
    }  

.container__header {
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    
    @media screen and(min-width: 768px){
    display: flex;
    align-items: center;
    max-width: 1200px;
   
    }

    @media screen and(max-width: 480px){
        display: block;      
        margin: 0 auto;
        max-width: 479px;
    }

    @media screen and(min-width: 480px) and(max-width: 768px){
        display: block;      
        max-width: 767px;
    }
}
