.portfolio {
    background-color: var(--background-color);
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and(max-width: 480px) {
        padding-top: 60px;
        padding-bottom: 60px;
 }
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    margin: 0;
}

.portfolio__item {
   min-width: 370px;
   margin-right: 30px;
   margin-bottom: 30px;    
   
   @media screen and(max-width: 480px) {
    min-width: 450px;
    margin-right: 0;
    margin-bottom: 30px; 

    .portfolio__item:nth-last-child(-n+3){
        margin-bottom: 30px;    
    }
   }
} 

 &:hover .thumb__description {
    transform: translateY(0);
 }


.portfolio__item:nth-child(3n) {
   margin-right: 0;
}

.portfolio__item:nth-last-child(-n+3){
    margin-bottom: 0;   
    
    @media screen and(max-width: 480px) {    
        .portfolio__item:nth-last-child(-n+3){
            margin-bottom: 30px;    
    }
  }
}

.portfolio__link {
    text-decoration: none;    
    display: inline-block;
    box-shadow: none;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--—Åubic);


&:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

&:focus {
    color: var(--button-link-color);
 }
}