.thumb {
    position: relative;
    overflow: hidden;  
}

.thumb__photo {
    display: block;
}

.thumb__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-font);
}

.thumb__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-font-color);
}


.thumb__description {
    position: absolute;   
    left: 0;
    top: 0;   

    padding: 63px 24px;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 100%;
    height: 100%;    

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--background-header);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: var(--—Åubic);
}


.thumb__basis {   
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;

    border-bottom: 1px solid rgba(238, 238, 238, 1);
    border-left: 1px solid rgba(238, 238, 238, 1);
    border-right: 1px solid rgba(238, 238, 238, 1);

    @media screen and(max-width: 480px) {
        min-width: 450px;
    } 
}
