:root {
    --main-font: 'Roboto', sans-serif ;
    --secondary-font: 'Raleway', sans-serif;
    --main-font-color: rgba(117, 117, 117, 1);
    --title-font: rgba(33, 33, 33, 1);
    --background-header: rgba(255, 255, 255, 1);
    --background-team: rgba(245, 244, 250, 1);
    --background-footer: rgba(47, 48, 58, 1);
    --button-link-color: rgba(33, 150, 243, 1);
    --button-link-hover: rgba(24, 140, 232, 1);
    --footer-contacts: rgba(255, 255, 255, 0.6);
    --icons-color: rgba(175, 177, 184, 1);
    --сubic: cubic-bezier(0.4, 0, 0.2, 1);   
}
